# Ignore virtual environment
venv/

# Ignore model files
models/
*.pth
*.h5
*.ckpt

# Ignore cache
__pycache__/
*.pyc

# Ignore dataset
data/

# Ignore large files
*.zip
*.csv

maitri_llm/
*.pt
*.pth
*.safetensors